{% load humanize %}
<div class="card mt-3 mb-3">
  <div class="card-body">
    <div class="font-weight-bold">
        Resumen del Pedido
    </div>
    <div>
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Productos:</td>
                    <td> {{ carrito.subtotal  | intcomma }}</td>
                </tr>
                <tr>
                    <td>Descuento por suscribirse:</td>
                    <td> ********* </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="">
        <hr>
    </div>
    <div class="font-weigh-bold text-danger">
        Total (Iva incluido) : 
        <div class="d-inline-block">
            {{ orden.total | intcomma }}
        </div>
    </div>
  </div>
</div>