{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}


<section>
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3 text-center bg-light">ARBOLES</h1>
        </div>
    </div>
</section>

<section>
    <div class="container p-0  ">
        <div class="row d-flex justify-content-center mx-0">

            {% for p in productos %}

                {% if p.categoria_id == 2 %}

                    <div class="col-lg-3 col-sm-6 text-center border shadow m-3 ">

                        {% if p.imagen %}
                            
                            <img src="{{ p.imagen.url }} " alt="imagen" class="img-fluid">

                        {% endif %}

                            <h3>{{ p.nombre | title}}</h3>
                            <p>Precio: {{ p.precio | intcomma }}</p>
                            <a href="{% url 'producto' p.id %}" class="btn btn-success btn-sm mb-3 " role="button"> Ver Detalle</a>
                    </div>

                {% endif %}

            {% endfor %}

        </div>
    </div>
</section>

{% endblock contenido %}