{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}


<section>
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3 text-center bg-light">jARDINERIA</h1>
        </div>
    </div>
</section>

<section>
    <div class="container mb-3">
        <div class="row">
                {% for p in productos %}
                {% if p.categoria_id == 5 %}
                    {% include 'productos/snippets/productos.html' with productos=p%}
                {% endif %}
                {% endfor %}
        </div>
    </div>
</section>

{% endblock contenido %}