<form action="{% url 'carrito:agregar' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="producto_id" value="{{ producto.id}}">
    <div class=" d-flex justify-content-center">
        <button type="button" class="btn btn-success d-inline" id="restar">-</button>
        <input type="number" value="1" class="form-control col-sm-1 d-inline" id="cantidad" name="cantidad" readonly style="width: 70px;">
        <button type="button" class="btn btn-success" id="agregar">+</button>
      </div>
      <div class="mt-2 mb-3">
        <button type="submit" class="btn btn-success d-inline"> Agregar al Carrito</button>
      </div>
</form>

<script>
    const agregar = document.getElementById('agregar')
    const restar = document.getElementById('restar')
    const cantidad = document.getElementById('cantidad')
  
    $(document).ready(function(){
      $("#agregar").click(function(){
        let stock = parseInt($('#stock').html());
        let cantidad = parseInt($('#cantidad').val())
        stock = stock - cantidad
        if( stock <= 0){
          $("#agregar").prop("disabled", true);
          alert('Se alcanzado el limite de stock')
        }
      });
    });

    $(document).ready(function(){
      $("#restar").click(function(){
        $("#agregar").prop("disabled", false);
      });
    });
    
    agregar.addEventListener('click' , function() {
      cantidad.value = parseInt(cantidad.value) + 1
    })
    restar.addEventListener('click' , function() {
      value = parseInt(cantidad.value)
      if(value !=1){
        value = value - 1
      }
      cantidad.value = value
    })

</script>