{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}

<section>
    <div class="p-3 bg-light">
        <div class="container">
            <h1 class="display-3 text-center bg-light">Todas las Ordenes</h1>
        </div>
        <section>
            <div class="container mb-3 mt-5">
                <div class="row">
                    {% for orden in ordenes %}
                    <div class="card border rounded shadow">
                        <div class="card-body">
                            <h4 class="card-title"> Numero de Orden: #{{ orden.id}}</h4>
                            <p class="card-text m-1">Estado: {{orden.status}} </p>
                            <p class="card-text m-1"> Creacion: {{ orden.creacion}} </p>
                            <p class="card-text m-1"> Total: ${{ orden.total | intcomma}} </p>
                            <div class="container">
                                {% if request.user.username == 'waco' %}
                                    <a href="{% url 'ordenes:empaquetado'  orden.id %}"class="btn btn-success btn-sm me-3">Empaquetado</a>
                                    <a href="{% url 'ordenes:despachado'  orden.id %}" class="btn btn-success btn-sm me-3">Enviado</a>
                                    <a href="{% url 'ordenes:entregado'  orden.id %}" class="btn btn-success btn-sm me-3">Entregado</a>
                                {% endif %}
                                <a href="{% url 'ordenes:detalleCompra'  orden.carrito_id %}" class="btn btn-success btn-sm" role="button"> Ver Detalle</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
   
</section>




{% endblock contenido %}
