{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<section>
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3 text-center bg-light">Mis Pedidos</h1>
        </div>
        <div class="container">
            {% for orden in object_list %}
            {% if orden.status == 'OrdenesStatus.COMPLETADO' %}
            <div class="card border rounded shadow">
              <div class="card-body">
                    <h4 class="card-title"> Numero de Orden:  #{{ orden.id}}</h4>
                    <p class="card-text m-1">Estado:  Completado </p>
                    <p class="card-text m-1"> Creacion: {{ orden.creacion}} </p>
                    <p class="card-text m-1"> Total: ${{ orden.total | intcomma}} </p>
                    <div class="d-flex justify-content-end">
                        <a href="#" class=" btn btn-success"> Ver Detalle</a>
                    </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>


{% endblock contenido %}