{% extends 'base.html' %}
{% block contenido %}

<section>
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3 text-center bg-light">Seguimiento de compra</h1>
        </div>
    </div>
</section>

<div class="container mb-5 mt-5">
    <div class="card ">
      <div class="card-body">
        <p>Numero de orden: {{ orden.id }}</p>
        {% if orden.status == 'OrdenesStatus.COMPLETADO' %}
        <p>Pedido Completado</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif  orden.status == 'OrdenesStatus.CANCELADO' %}
        <p>Pedido Cancelado</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif  orden.status == 'OrdenesStatus.EMPAQUETADO' %}
        <p>Pedido empaquetado</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif  orden.status == 'OrdenesStatus.DESPACHADO' %}
        <p>Pedido Despachado</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif  orden.status == 'OrdenesStatus.ENTREGADO' %}
        <p>Pedido entregado</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% endif %}
        
      </div>
    </div>
    
</div>


{% endblock contenido %}